name: Demo Cache

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  cache:
    runs-on: ubuntu-latest
    steps:
      - name: Setup omni-cache
        id: cache
        uses: cirruslabs/setup-omni-cache@v1.0.1
        with:
          bucket: ci-omni-cache
          s3-endpoint: ${{ secrets.S3_ENDPOINT }}
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: us-east-1
      - name: Calculate the cache key to use (YYYY-MM-DD)
        run: echo "CACHE_KEY=$(date +%Y-%m-%d)" >> $GITHUB_ENV
      - name: Generate a random 500Mb binary file on cache miss
        run: dd if=/dev/urandom of=testfile bs=65536 count=8192
      - name: Upload the generated file to Omni Cache
        run: curl -s -X POST --data-binary @testfile http://$OMNI_CACHE_ADDRESS/$CACHE_KEY
      - name: Cache a random binary file using cirruslabs/cache@v4
        uses: "cirruslabs/cache@v5"
        with:
          path: testfile
          key: "testfile-v4-${{ env.CACHE_KEY }}"
      - name: Restore the cached file
        run: curl -s -o testfile.restored http://$OMNI_CACHE_ADDRESS/$CACHE_KEY
      - name: Compare the restored file with the original one
        run: diff testfile testfile.restored